{{~#*inline "format-money"~}} {{money-amount money}} {{money.currency}}
{{~/inline~}}

<html>
  <body>
    {{#with transaction}}
    <h3>Votre reçu concernant {{listing.title}}</h3>

    <p>
      Merci d'avoir acheté {{listing.title}} auprès de
      {{provider.display-name}}!
    </p>

    <p>
      Nous vous avons prélevé {{> format-money money=payin-total}}. Voici votre
      reçu.
    </p>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">Paiment</th>
        </tr>
      </thead>
      <tbody>
        {{#if protected-data.cartListingLineItems}}
        {{#each protected-data.cartListingLineItems}}
        <tr class="bottom-row">
          <td>Produit</td>
          <td class="right">{{title}}</td>
        </tr>
        <tr class="top-row">
          <td>Prix à l'unité</td>
          <td class="right">{{> format-money money=unitPrice}}</td>
        </tr>
        <tr class="bottom-row">
          <td>Quantité</td>
          <td class="right">&times; {{number quantity}}</td>
        </tr>
        <tr class="bottom-row top-row">
          <th class="left">Sous-total</th>
          <th class="right">{{> format-money money=total}}</th>
        </tr>
        {{/each}}
        {{/if}}
        {{#each tx-line-items}} {{#contains include-for "customer"}} 
        <!-- {{#eq "line-item/provider-commission" code}} -->
        <!-- <tr>
          <td>Prix unitaire</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        <tr>
          <td>Quantité</td>
          <td style="text-align: right; padding-left: 20px">
            &times; {{number quantity}}
          </td>
        </tr> -->       
        <tr>
          <th style="text-align: left">Total intermediaire</th>>
          <th style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </th>
        </tr>
        <!-- {{/eq}}  -->
        {{#eq "line-item/shipping-participation" code}}
        <tr>
          <td>Livraison</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{#eq "line-item/pickup-fee" code}}
        <tr>
          <td>À emporter</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{/contains}} {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: left">Paiment total</th>
          <th style="text-align: left; padding-left: 20px">
            {{> format-money money=payin-total}}
          </th>
        </tr>
      </tfoot>
    </table>
    {{/with}}

    <p>Meilleures salutations,<br />La team {{marketplace.name}} </p>

    <p><small>Vous avez reçu ce mail car vous êtes membre de {{marketplace.name}}. Si vous ne souhaitez plus recevoir d&#x27;emails de notre part, merci de contacter les administrateurs de {{marketplace.name}} sous la rubrique "contact" de notre site web https://www.marmott.co</small></p>

    <hr />

    <!-- ///////////////////////////////////////////////////////////////////// -->

    {{#with transaction}}
    <h3>Your receipt for {{listing.title}}</h3>

    <p>
      Thank your for purchasing {{listing.title}} from
      {{provider.display-name}}!
    </p>

    <p>
      We have how charged {{> format-money money=payin-total}} from your credit
      card. Here's your receipt.
    </p>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">Payment</th>
        </tr>
      </thead>
      <tbody>
        {{#if protected-data.cartListingLineItems}}
        {{#each protected-data.cartListingLineItems}}
        <tr class="bottom-row">
          <td>Product</td>
          <td class="right">{{title}}</td>
        </tr>
        <tr class="top-row">
          <td>Product price</td>
          <td class="right">{{> format-money money=unitPrice}}</td>
        </tr>
        <tr class="bottom-row">
          <td>Quantity</td>
          <td class="right">&times; {{number quantity}}</td>
        </tr>
        <tr class="bottom-row top-row">
          <th class="left">Subtotal</th>
          <th class="right">{{> format-money money=total}}</th>
        </tr>
        {{/each}}
        {{/if}}
        {{#each tx-line-items}} {{#contains include-for "customer"}} {{#eq
        "line-item/provider-commission" code}}
        <!-- <tr>
          <td>Unit price</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td style="text-align: right; padding-left: 20px">
            &times; {{number quantity}}
          </td>
        </tr>
        <tr> -->         
          <th style="text-align: left">Intermediate total</th>
          <th style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </th>
        </tr>
        {{/eq}} {{#eq "line-item/shipping-participation" code}}
        <tr>
          <td>Shipping</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{#eq "line-item/pickup-fee" code}}
        <tr>
          <td>Pickup</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{/contains}} {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: left">Payment total</th>
          <th style="text-align: left; padding-left: 20px">
            {{> format-money money=payin-total}}
          </th>
        </tr>
      </tfoot>
    </table>
    {{/with}}

    <p>Best regards,<br />The {{marketplace.name}} team</p>

    <p><small>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team, in the section "contact” on our website https://www.marmott.co</small></p>
  </body>
</html>