{:format :v3,
 :transitions
 [{:name :transition/enquire,
   :actor :actor.role/customer,
   :actions [],
   :to :state/enquiry}
  {:name :transition/request-payment,
   :actor :actor.role/customer,
   :privileged? true,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/privileged-update-metadata}
    {:name :action/create-pending-stock-reservation}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :to :state/pending-payment}
  {:name :transition/request-payment-after-enquiry,
   :actor :actor.role/customer,
   :privileged? true,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/privileged-update-metadata}
    {:name :action/create-pending-stock-reservation}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :from :state/enquiry,
   :to :state/pending-payment}
  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions
   [{:name :action/accept-stock-reservation}
    {:name :action/stripe-confirm-payment-intent}
    {:name :action/stripe-capture-payment-intent}],
   :from :state/pending-payment,
   :to :state/purchased}
  {:name :transition/expire-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/pending-payment]}
     {:fn/period ["PT15M"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}
    {:name :action/decline-stock-reservation}],
   :from :state/pending-payment,
   :to :state/payment-expired}
   {:name :transition/mark-received-from-purchased,
    :actor :actor.role/customer,
    :actions [{:name :action/stripe-create-payout}],
    :from :state/purchased,
    :to :state/received}
  {:name :transition/mark-delivered,
   :actor :actor.role/provider,
   :actions [],
   :from :state/purchased,
   :to :state/delivered}
  {:name :transition/mark-received,
   :actor :actor.role/customer,
   :actions [{:name :action/stripe-create-payout}],
   :from :state/delivered,
   :to :state/received}
  {:name :transition/auto-mark-received,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/delivered]}
     {:fn/period ["PT90M"]}]},
   :actions [{:name :action/stripe-create-payout}],
   :from :state/delivered,
   :to :state/received}
  {:name :transition/dispute,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :from :state/delivered,
   :to :state/disputed}
  {:name :transition/mark-received-from-disputed,
   :actor :actor.role/operator,
   :actions [{:name :action/stripe-create-payout}],
   :from :state/disputed,
   :to :state/received}
  {:name :transition/cancel,
   :actor :actor.role/operator,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}
    {:name :action/cancel-stock-reservation}],
   :from :state/purchased,
   :to :state/canceled}
  {:name :transition/auto-cancel,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/purchased]}
     {:fn/period ["PT120M"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}
    {:name :action/cancel-stock-reservation}],
   :from :state/purchased,
   :to :state/canceled}
  {:name :transition/cancel-from-disputed,
   :actor :actor.role/operator,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}
    {:name :action/cancel-stock-reservation}],
   :from :state/disputed,
   :to :state/canceled}
  {:name :transition/auto-cancel-from-disputed,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/disputed]}
     {:fn/period ["P1D"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}
    {:name :action/cancel-stock-reservation}],
   :from :state/disputed,
   :to :state/canceled}
  {:name :transition/auto-complete,
   :at {:fn/timepoint [:time/first-entered-state :state/received]},
   :actions [],
   :from :state/received,
   :to :state/completed}],
 :notifications
 [{:name :notification/order-receipt,
   :on :transition/confirm-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/purchased]}
     {:fn/period ["PT15M"]}]},
   :to :actor.role/customer,
   :template :order-receipt}
  {:name :notification/new-order,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :new-order}
  {:name :notification/order-marked-as-delivered,
   :on :transition/mark-delivered,
   :to :actor.role/customer,
   :template :order-marked-as-delivered}
  {:name :notification/mark-order-received-reminder,
   :on :transition/mark-delivered,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/delivered]}
     {:fn/period ["PT5M"]}]},
   :to :actor.role/customer,
   :template :mark-order-received-reminder}
  {:name :notification/order-marked-as-received,
   :on :transition/mark-received,
   :to :actor.role/provider,
   :template :order-marked-as-received}
  {:name :notification/shipping-time-expired,
   :on :transition/auto-cancel,
   :to :actor.role/customer,
   :template :shipping-time-expired-customer}
  {:name :notification/order-shipping-time-expired,
   :on :transition/auto-cancel,
   :to :actor.role/provider,
   :template :shipping-time-expired-provider}
  {:name :notification/purchase-canceled,
   :on :transition/cancel,
   :to :actor.role/customer,
   :template :purchase-canceled}
  {:name :notification/order-canceled,
   :on :transition/cancel,
   :to :actor.role/provider,
   :template :order-canceled}
  {:name :notification/order-auto-marked-as-received-customer,
   :on :transition/auto-mark-received,
   :to :actor.role/customer,
   :template :order-auto-marked-as-received-customer}
  {:name :notification/order-auto-marked-as-received-provider,
   :on :transition/auto-mark-received,
   :to :actor.role/provider,
   :template :order-auto-marked-as-received-provider}
  {:name :notification/order-disputed,
   :on :transition/dispute,
   :to :actor.role/provider,
   :template :order-disputed}
  {:name :notification/order-received-from-disputed-customer,
   :on :transition/mark-received-from-disputed,
   :to :actor.role/customer,
   :template :order-received-from-disputed-customer}
  {:name :notification/order-received-from-disputed-provider,
   :on :transition/mark-received-from-disputed,
   :to :actor.role/provider,
   :template :order-received-from-disputed-provider}
  {:name :notification/canceled-from-disputed-customer,
   :on :transition/cancel-from-disputed,
   :to :actor.role/customer,
   :template :order-canceled-from-disputed-customer}
  {:name :notification/canceled-from-disputed-provider,
   :on :transition/cancel-from-disputed,
   :to :actor.role/customer,
   :template :order-canceled-from-disputed-provider}
  {:name :notification/auto-canceled-from-disputed-customer,
   :on :transition/auto-cancel-from-disputed,
   :to :actor.role/customer,
   :template :order-auto-canceled-from-disputed-customer}
  {:name :notification/auto-canceled-from-disputed-provider,
   :on :transition/auto-cancel-from-disputed,
   :to :actor.role/provider,
   :template :order-auto-canceled-from-disputed-provider}]}

