<html>
  <body>
    {{#with transaction}}
    <h3>Votre commande a expiré</h3>

    {{#eq "shipping" protected-data.deliveryMethod}}
    <p>
      Malheureusement il semble que votre commande concernant "{{listing.title}}" ait été
      annulée car {{provider.display-name}} ne l'aurait pas envoyée à temps.       
    </p>
    <p>.
      Envoyez s'il-vous-plaît une copie de ce courriel à support@marmott.co , 
      nous prendrons grand soin de traiter votre requête au plus vite !
      Vous pouvez demander à être intégralement remboursé si le problème provient du restaurateur.
    </p>
      
    </p>
    {{else}}
    <p>
      Votre commande concernant "{{listing.title}}" n'a pas été récupérée à temps. 
      <!-- Vous serez intégralement remboursé. -->
      Contactez {{provider.display-name}} par message dans votre Marmott' inbox !
    </p>
    {{/eq}}

    <p>
      <a href="{{marketplace.url}}/fr/order/{{url-encode id}}/details"
        >Details de la commande</a
      >
    </p>
    {{/with}}

    <p>Meilleures salutations,<br />La team {{marketplace.name}} </p>

    <p><small>Vous avez reçu ce mail car vous êtes membre de {{marketplace.name}}. Si vous ne souhaitez plus recevoir d&#x27;emails de notre part, merci de contacter les administrateurs de {{marketplace.name}} sous la rubrique "contact" de notre site web https://www.marmott.co</small></p>

    <hr />

    <!-- ///////////////////////////////////////////////////////////////////// -->

    {{#with transaction}}
    <h3>Your order has expired</h3>

    {{#eq "shipping" protected-data.deliveryMethod}}   
    <p>
      Unfortunately it seems your order for {{listing.title}} has been canceled as
      {{provider.display-name}} would not have shipped the item on time.       
      <!-- You will be refunded fully. -->
    </p>
    <p>
      Please send a copy of this email to support@marmott.co to dispute the order, 
      we'll take great care of your request !
      You can request a full refund if the issue is the restaurant's responsability
    </p>      
    {{else}}
    <p>
      Your order {{listing.title}} has not been collected on time 
      Please contact {{provider.display-name}} by message in you Marmott' inbox.
      <!-- You will be refunded fully. -->
    </p>
    {{/eq}}

    <p>
      <a href="{{marketplace.url}}/en/order/{{url-encode id}}/details"
        >Order details</a
      >
    </p>
    {{/with}}

    <p>Best regards,<br />The {{marketplace.name}} team</p>

    <p><small>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team, in the section "contact” on our website https://www.marmott.co</small></p>
  </body>
</html>
