{{~#*inline "format-money"~}} {{money-amount money}} {{money.currency}}
{{~/inline~}}

<html>
  <body>
    {{#with transaction}}
    <h3>Nouvelle commande de {{listing.title}}</h3>

    <p>
      Bonne nouvelle ! {{customer.display-name}} a acheté {{listing.title}}.
      Voici le détails de la commmande.
    </p>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">Paiement</th>
        </tr>
      </thead>
      <tbody>
        {{#each tx-line-items}} {{#contains include-for "provider"}} {{#eq
        "line-item/units" code}}
        <tr>
          <td>Prix à l'unité</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        <tr>
          <td>Quantité</td>
          <td style="text-align: right; padding-left: 20px">
            &times; {{number quantity}}
          </td>
        </tr>
        <tr>
          <th style="text-align: left">Sous-total</th>
          <th style="text-align: right; padding-left: 20px">
            {{> format-money money=line-total}}
          </th>
        </tr>
        {{/eq}} {{#eq "line-item/shipping-fee" code}}
        <tr>
          <td>Livraison</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{#eq "line-item/pickup-fee" code}}
        <tr>
          <td>À emporter</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{#eq "line-item/provider-commission" code}}
        <tr>
          <td>Frais de commission de {{marketplace.name}}</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=line-total}}
          </td>
        </tr>
        {{/eq}} {{/contains}} {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: left">Vous recevez</th>
          <th style="text-align: left; padding-left: 20px">
            {{> format-money money=payout-total}}
          </th>
        </tr>
      </tfoot>
    </table>

    {{#eq "shipping" protected-data.deliveryMethod}}
    <p>
      Veuillez préparer la commande pour la livraison et pensez à indiquer que
      la commande a été envoyée sur la page de détails de la commande.
    </p>

    <p>
      Si vous n'indiquez pas que vous avez envoyé la commande sous 120 minutes, la commande expirera automatiquement.
    </p>
    {{else}}
    <p>
      Veuillez préparer la commande pour le retrait et pensez à indiquer que
      la commande a été collectée sur la page de détails de la commande.
    </p>

    <p>
      Si vous n'indiquez pas sous 120 minutes que la commande a été collectée, la
      commande expirera automatiquement.
    </p>
    {{/eq}} {{/with}}

    <hr />

    <p><small>Vous avez reçu ce mail car vous êtes membre de {{marketplace.name}}. Si vous ne souhaitez plus recevoir d&#x27;emails de notre part, merci de contacter les administrateurs de {{marketplace.name}} sous la rubrique "contact" de notre site web https://marmott.co</small></p>

    <hr />

    <!-- ///////////////////////////////////////////////////////////////////// -->
    {{#with transaction}}
    <h3>New order for {{listing.title}}</h3>

    <p>
      Good news! {{customer.display-name}} has bought {{listing.title}}. Here's
      the breakdown of the order.
    </p>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">Payment</th>
        </tr>
      </thead>
      <tbody>
        {{#each tx-line-items}} {{#contains include-for "provider"}} {{#eq
        "line-item/units" code}}
        <tr>
          <td>Unit price</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td style="text-align: right; padding-left: 20px">
            &times; {{number quantity}}
          </td>
        </tr>
        <tr>
          <th style="text-align: left">Subtotal</th>
          <th style="text-align: right; padding-left: 20px">
            {{> format-money money=line-total}}
          </th>
        </tr>
        {{/eq}} {{#eq "line-item/shipping-fee" code}}
        <tr>
          <td>Shipping</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{#eq "line-item/pickup-fee" code}}
        <tr>
          <td>Pickup</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=unit-price}}
          </td>
        </tr>
        {{/eq}} {{#eq "line-item/provider-commission" code}}
        <tr>
          <td>{{marketplace.name}} fee</td>
          <td style="text-align: right; padding-left: 20px">
            {{> format-money money=line-total}}
          </td>
        </tr>
        {{/eq}} {{/contains}} {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: left">You earn</th>
          <th style="text-align: left; padding-left: 20px">
            {{> format-money money=payout-total}}
          </th>
        </tr>
      </tfoot>
    </table>

    {{#eq "shipping" protected-data.deliveryMethod}}
    <p>
      Please get the order ready for shipping and remember to mark the item as
      shipped on the order details page.
    </p>

    <p>
      If the order is not marked as shipped within 120 minutes, the order will
      expire automatically.
    </p>
    {{else}}
    <p>
      Please get the order ready for pickup and remember to mark the item as
      delivered on the order details page.
    </p>

    <p>
      If the order is not marked as delivered within 120 minutes, the order will
      expire automatically.
    </p>
    {{/eq}} {{/with}}


    <p>Best regards,<br />The {{marketplace.name}} team</p>

    <p><small>You have received this email notification because you are a member of {{marketplace.name}}. If you no longer wish to receive these emails, please contact {{marketplace.name}} team, in the section "contact” on our website https://marmott.co</small></p>
 </body>
</html>
