@import '../../../../styles/propertySets.css';

.root {
  /* Expand to available space */
  flex-grow: 1;

  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    padding-top: 1px;
  }
}

.featuresItems {
  margin-top: 10px;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.featuresWrapper {
  overflow-y: scroll;
  max-height: 65vh;
  @media (--viewportMedium) {
    height: 50vh;
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}


/* Accordion styles */
.filterHeaderAccordion {
  margin-top: 10px;
  line-height: 24px;
}

.labelButtonAccordion {
  /* Override button styles */
  width: 100%;
  outline: none;
  line-height: 24px;
  text-align: left;
  border: none;
  padding: 0;
  cursor: pointer;
}

.labelButtonContentAccordion {
  display: inline-block;
  width: 100%;

  &:hover {
    color: var(--marketplaceColor);

    & * {
      color: var(--marketplaceColor);
      stroke: var(--marketplaceColor);
    }
  }
}

.labelWrapperAccordion {
  display: inline-block;
  max-width: calc(100% - 16px);
}

.labelAccordion,
.labelSelectedAccordion {
  @apply --marketplaceSmallFontStyles;
  /* font-weight: var(--fontWeightBold); */

  /* Baseline adjustment for label text */
  margin-top: 0;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    margin-bottom: 8px;
  }
}

.labelAccordion {
  color: var(--matterColor);
  /* display: flex;
  flex-direction: column; */
}

.preLabelAccordion {
  margin-right: 5px;
  font-weight: var(--fontWeightSemiBold);
}

.postLabelAccordion {
  @apply --marketplaceSmallFontStyles;

} 

.labelSelectedAccordion {
  color: var(--marketplaceColor);
  font-weight: var(--fontWeightBold);
  /* margin-left: 5px; */
}

.labelSelected {
  @apply --marketplaceSmallFontStyles;
  color: var(--marketplaceColor);
}

.openSignAccordion {
  float: right;
}